* {
    box-sizing: border-box;
}

html {
    font-size: 0.65rem;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}